.topic-body {
  // this ensures consistent top margin on topic posts even if the first line of a post
  // is a top-margin-less element like a list or image.
  .regular {
    margin-top: 15px;
  }
  //this is what i've changed
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12);
   padding: 15px 20px 0 20px;
   float: left;
   border-radius: 4px;
}
