.topic-body {
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12);
  padding: 15px 20px 0 20px;
  float: left;
  border-radius: 4px;
  border-bottom: none;
}

.topic-avatar {
  border-top: none;
  border-bottom: none;
  padding-right: 10px;
}

.small-action {
  border-top: none;
}

@import "common/foundation/variables";

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 10px;
      color: $header_primary;
      font-size: $font-up-1;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}
